* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ASCII 서점 외관 */
.ascii-store {
  background: linear-gradient(180deg, #2a2a1a 0%, #1a2520 100%);
  padding: 1.2rem 0.8rem;
  margin-bottom: 1.5rem;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.ascii-store pre {
  font-family: "SF Mono", "Monaco", "Consolas", "Menlo", monospace;
  font-size: clamp(9px, 1.4vw, 12px);
  line-height: 1.35;
  color: #c4b896;
  margin: 0;
  white-space: pre;
  letter-spacing: 0.02em;
}

html {
  scroll-behavior: smooth;
}

body {

  font-family: sans-serif;
  font-size: 10pt;
  line-height: 13pt;
  color: blueviolet;
}

h1 {
  text-align: right;
  margin-right: 10px;
  margin-top: 20px;
  font-size: 11pt;
  color: rgb(181, 197, 120);
}

table {
  margin-top: 40px;
  margin-left: 20px;
  text-align: left;
  table-layout: fixed;
  width: 700px;
}

table, tr, td, th {
  border: 1px solid rgb(181, 197, 120);
  border-collapse: collapse;

}

th {
  font-weight: bold;
}

li {
  text-align: right;

}

.img-cell img {
  width: 100px;
  height: 100px;
  display: block;
  object-fit: cover;
  filter: grayscale(100%) blur(2px);

}

.img-cell img:hover {
  filter: none;
}


.img-cell {
  text-align: center;
  vertical-align: middle;
  padding-left: 0;
}

/* 2월 22일: 흑백일 때만 이미지 위 중앙에 birthday 표시 */
.birthday-cell {
  position: relative;
}

.birthday-cell .birthday-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8pt;
  color:rgb(181, 197, 120);

  z-index: 1;
  pointer-events: none;
}

.birthday-cell:hover .birthday-label {
  visibility: hidden;
}



td span.bael {
  display: none !important;
}

td:hover span.bael {
  display: inline !important;
}

table th,
table td {
  width: 100px;
  padding-left: 2px;
  text-align: left;
  vertical-align: top;
}

table thead th {
  height: 15px;
}

tbody tr:first-child td {
  height: 12px;
  font-size: 8pt;
  line-height: 10px;
  padding-top: 1px;
}

tbody tr:nth-child(n + 2) td {
  height: 100px;
}


footer {
  font-size: 9pt;
  margin-left: 20px;
  text-align: left;
}



/* question and answer */


.question {
  float: left;
  width: 150px;
}

ol {
  margin-right: 10px;
  list-style: none;
}

.question a {
  color: blueviolet;
}

.question a:visited {
  color: blueviolet;
}

.answer {
  margin-left: 150px;
  padding: 20px;
  border-left: 1px solid rgb(181, 197, 120);
}

.question,
.answer {
  min-height: 100vh;

}

.content {
  display: none;
  /* overflow-y:auto;*/
}

.content:target {
  display: block;
}

p {
  display: none;
}


@media screen and (max-width: 600px) {

  table {
      display: none;
  }
  footer {
    display: none;
  }
  p {
    display: block;
  }

}